<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take Home <br> Day 4</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [45]:
# Import required Libraries here
# import 'pandas' 
import pandas as pd 

# import 'numpy' 
import numpy as np

# import subpackage of matplotlib
import matplotlib.pyplot as plt

# import 'seaborn'
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# import statsmodels
import statsmodels.api as sm

# import 'stats' package from scipy library
from scipy import stats

# import statistics to perform statistical computations
import statistics

# to test the normality 
from scipy.stats import shapiro

# import a library to perform Z-test
from statsmodels.stats import weightstats as stests

# import statsmodels
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# import the functions to perform Chi-square tests
from scipy.stats import chi2_contingency
from scipy.stats import chisquare

# function to perform post-hoc test
import statsmodels.stats.multicomp as mc

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A financial firm AlpaMoney has recently started their online payment gateway and claims that the level of customer satisfaction about the transactions is the same as that of their competitor firm PayEarly. Consider the equality of an average level of satisfaction as the null hypothesis and test the claim using a critical value method with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='2_z.png'>

In [3]:
# type solution here
#H0: miuA-muiP=0
#H1: miuA-muiP!=0
#critical val
z_critical=stats.norm.isf(q=0.1/2)
print(z_critical)

1.6448536269514729

In [7]:
def TwoSampZTest(samp_mean_1, samp_mean_2, samp_std_1, samp_std_2, value, n1, n2):
    denominator = np.sqrt((samp_std_1**2 / n1) + (samp_std_2**2 / n2))
    zcal = ((samp_mean_1 - samp_mean_2) - (value)) / denominator
    return zcal

sm1 = 4.23
sm2 = 3.56
sstd1 = 1.6
sstd2 = 0.72
nullval = 0
n1 = 527
n2 = 652

zcal = TwoSampZTest(samp_mean_1 = sm1, samp_mean_2 = sm2, samp_std_1 = sstd1, samp_std_2 = sstd2, value = nullval, n1 = n1, n2 = n2)
z_cal=round(z_cal,3)
print(z_cal)

1.64

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Amy and Susan are national level swimmers. Their coach conducts five rounds each of 400 m and records the time taken by the individuals. Perform a two sample t-test to test whether there is any difference between the average time taken by Amy and Susan. Use 0.05 as a level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the timing (in minutes) given below:

        Amy_time = [4.2, 3, 3.8, 5, 4.6]
        Susan_time = [5.2, 4.6, 3.9, 4.4, 5]

In [9]:
# type solution here
Amy_time = [4.2, 3, 3.8, 5, 4.6]
Susan_time = [5.2, 4.6, 3.9, 4.4, 5]
time = [4.2, 3, 3.8, 5, 4.6, 5.2, 4.6, 3.9, 4.4, 5]

In [11]:
#normality
stats,p_val=shapiro(time)
print(round(stats,3),round(p_val,3))
# p val>0.05 hence its normally distributed

0.941 0.562

In [15]:
# equality of variance
stat, p_value = stats.levene(Amy_time, Susan_time)
print(round(stat,3),round(p_val,3))
#pval>0.05 hence equal variance

0.559 0.562

In [16]:
#H0: no diff mui1-mui2=0
#H1: diff mui1-mui2!=0
n1=len(Amy_time)
n2=len(Susan_time)
dof=n1+n2-2
print(dof)

8

In [17]:
t_stat, p_val = stats.ttest_ind(a = Amy_time, b = Susan_time)
print(p_val)

# pval>alpha we fail to reject the null
#hence there is no difference between the average time taken by Amy and Susan.

0.26087578765496466

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. A multinational company had organized a presentation activity to test the soft skills of their 6 sales executives and then offered them a skill development course. After the completion of the course, the executives again appeared for the presentation and the scores before and after the course are recorded. Check whether the data satisfies the conditions to use the two sample T-test. (Use 10% level of significance).</b>
                </font>
            </div>
        </td>
    </tr>

Consider the scores given in the file `paired_data.xlsx`

In [18]:
# type solution here
df= pd.read_excel('paired_data.xlsx')
df.head(2)

   before_score  after_score
0            23           32
1            38           36

In [22]:
#normality
stats,p_val=shapiro(df["after_score"])
print(round(stats,3),round(p_val,3))

stats,p_val=shapiro(df["before_score"])
print(round(stats,3),round(p_val,3))

# p val>0.05 hence its normally distributed

0.903 0.392
0.998 1.0

In [30]:
#variability
stat, p_val = stats.levene(df['before_score'], df['after_score'])
print(stat,p_val)

# pval>alpha hence equal variability

0.02107481559536362 0.8874596836271523

In [ ]:
# hence we can use the 2 sample ttest

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A multinational company had organized a presentation activity to test the soft skills of their 6 sales executives and then offered them a skill development course. After the completion of the course, the executives again appeared for the presentation and the scores before and after the course are recorded. Test the company's claim that the course was effective in developing soft skills with 90% confidence using the p-value technique.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the scores given in the file `paired_data.xlsx`

In [31]:
# type solution here
#H0:The skill development course was not effective in developing the soft skills mui=0
#H1: The skill development course was effective in developing the soft skills miu>0
t_stat, p_val = stats.ttest_rel(df['after_score'], df['before_score'], alternative='greater')
print(p_val)
#pval<alpha hence we reject the null
# hence we conclude that the skill development course was effective in developing soft skills of sales executives.

0.01996863587372073

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. A pharmaceutical company in Manhattan claims that its new HighView tablet is effective in increasing the height of children. The data of heights (in cm) of 7 children is recorded before and after consuming the tablet. Test the company's claim at a 1% level of significance using the p-value. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data that given below:

    ht_before = [121, 125, 130, 120, 145, 126, 134]

    ht_after = [130, 129, 148, 122, 147, 130, 148]

In [34]:
# type solution here
ht_before = [121, 125, 130, 120, 145, 126, 134]  #paired

ht_after = [130, 129, 148, 122, 147, 130, 148]

ht = [121, 125, 130, 120, 145, 126, 134, 130, 129, 148, 122, 147, 130, 148]

In [35]:
stat,p_val=shapiro(ht)
print(p_val)
#pval>alpha hence its normally distributed

0.03338424861431122

In [36]:
stat, p_val = stats.levene(ht_before, ht_after)
print(stat,p_val)
# equal variabilty

0.4473358116480793 0.5162635342361248

In [39]:
#H0:diff =0
#H1: diff>0
test_stat, p_val = stats.ttest_rel(ht_before, ht_after, alternative = 'less')
print(p_val)
#pval<0.01 so we reject the null

0.00966864434111964

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Consider the cars dataset given below. Check whether the distribution of weight of the manual transmission cars is different than the distribution of weight of the automatic transmission cars. Use a 1% level of significance to check the noramlity of the data. And use the appropriate test with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the dataset given in the CSV file `cars.csv`

In [40]:
# type solution here 
df_car = pd.read_csv('cars.csv')

df_car.head(5)

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,M,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,M,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,M,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,A,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,A,3,2

In [41]:
# normality
stat, p_value = shapiro(df_car['wt'])
print(p_value)
# pval>alpha so normal distribution

0.09265592694282532

In [42]:
#H0: There is no difference between the average weight of manual transmission cars and a automatic transmission mui=0
#H1: There is difference between the average weight of manual transmission cars and a automatic transmission mui!=0

wt_M = df_car[df_car['am'] == 'M']['wt']
wt_A = df_car[df_car['am'] == 'A']['wt']
test_stat, p_value = stats.ttest_ind(wt_M, wt_A, alternative = 'two-sided')
print( p_value)
#Here the p-value is less than 0.05. Thus we reject the null hypothesis 
#and we can conclude that the weight distribution of manual and automatic cars is different.

1.12543955234245e-05

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The sales manager at an electronics company wants to study if online sales of their products in 2019 follow the same distribution as the online sales of products in 2015. He collected the sample of 300 products sold in 2019. Help the manager to test his claim using p-value technique at a 99% confidence level.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='chi_2.png'>

In [46]:
# type solution here
obs_value = [85, 90, 125]
count=[38,20,42]
exp_value = np.array(count) * 300
stat, p_val = chisquare(f_obs = obs_value, f_exp = exp_value)
print(p_val)

ValueError: For each axis slice, the sum of the observed frequencies must agree with the sum of the expected frequencies to a relative tolerance of 1e-08, but the percent differences are:
99.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Use hypothesis testing to check if the type of car maintenance is dependent on the type of car's transmission. Test the hypothesis with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='chi_ind.png'>

In [48]:
# type solution here
test_stat, p, dof, expected_value = chi2_contingency(observed = obs_value, correction = False)

print( round(test_stat,3))
print(round(p,4))
print( dof)
print(expected_value)

0.0
1.0
0
[ 85.  90. 125.]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. The company claims that in the organization, 68% of employees travel rarely, 20% travel frequently and 12% of employees do not travel for business. Check if the given data fits with the company's claimed distribution. Use the p-value technique with 99% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data available in the CSV file `Employee_Attrition.csv`.

In [49]:
# type solution here
df_emp = pd.read_csv('Employee_Attrition.csv')

df_emp.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [50]:
#H0: There is no significant difference between the observed and expected values.
#H1: There is a significant difference between the observed and expected values
df_emp['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [51]:
observed_value = [1043, 277, 150]
exp_count = [0.68, 0.20, 0.12]
expected_value = np.array(exp_count) * len(df_emp)

stat, p_value = chisquare(f_obs = observed_value, f_exp = expected_value)

p_value = round(p_value,3)
print( p_value)
#The above output shows that the p-value is greater than 0.01. Thus, we fail to reject (i.e. accept) the null hypothesis and conclude that company's claim is correct. 
#there is no significant difference between the observed and expected values

0.033

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>10. Check whether travelling for the business is related to the gender of an employee. Use the p-value technique to test the claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data available in the CSV file `Employee_Attrition.csv`.

In [4]:
# type solution here
#H0: Business travel and gender of an employee are independent
#H1: Business travel and gender of an employee are not independent.

In [53]:
 
table = pd.crosstab(df_emp['BusinessTravel'], df_emp['Gender'])

obs_val = table.values
obs_val

array([[ 49, 101],
       [117, 160],
       [422, 621]], dtype=int64)

In [54]:
test_stat, p, dof, expected_value = chi2_contingency(observed = obs_val, correction = False)

# use round function to round off the values
p = round(p,3)
print(p)

#The above output shows that the p-value is greater than 0.1, 
#thus we fail to reject (i.e. accept) the null hypothesis and conclude that the business travel is independent of the gender of an employee.

0.133

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. A company produces leather belts on three different production lines. The number of defective belts produced by each line is recorded. Test if all the production lines produce on an average equal number of defective belts. Use the p-value technique to test at 5% level of significance.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file defective_prod.xlsx

In [55]:
# type solution here 
df_prod = pd.read_excel('defective_prod.xlsx')

df_prod.head()

  production_line  def_belts
0               A        5.0
1               C        2.0
2               B        3.0
3               A        4.0
4               C        1.0

In [ ]:
#H0: The average of defective belts for all the production lines is same
#H1: At least one production line has a different average of defective belts

In [56]:
#normality
stat, p_value = stats.shapiro(df_prod['def_belts'])
print(p_val)

0.00966864434111964

In [57]:
#variability
stat, p_value = stats.levene(df_prod[df_prod['production_line'] == 'A']['def_belts'], 
                             df_prod[df_prod['production_line'] == 'B']['def_belts'],
                             df_prod[df_prod['production_line'] == 'C']['def_belts'])
print(p_val)

0.00966864434111964

In [58]:
#one way anova
f_test, p_val = stats.f_oneway(df_prod[df_prod['production_line'] == 'A']['def_belts'], 
                               df_prod[df_prod['production_line'] == 'B']['def_belts'],
                               df_prod[df_prod['production_line'] == 'C']['def_belts'])
print(p_val)

0.44857788134106824

In [ ]:
#The above output shows that, the p-value is greater than 0.05. Thus we fail to reject (i.e. accept) the null hypothesis and conclude that the average of defective belts produced on all the production lines is the same

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Check whether we can use the given dataset to study the equality of average monthly income of sales executives with a different education background in the company. Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data available in the CSV file `sales_emp.csv`.

In [59]:
# type solution here
df_emp = pd.read_csv('sales_emp.csv')

df_emp.head(2)

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,...,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,...,3,80,1,19,6,4,1,0,0,0

In [62]:
#NORMALITY
stat, p_value = stats.shapiro(df_emp['MonthlyIncome'])
print(p_value)

0.05732710659503937

In [63]:
#variability
stat, p_value = stats.levene(df_emp[df_emp['EducationField'] == 'Life Sciences']['MonthlyIncome'],
                             df_emp[df_emp['EducationField'] == 'Technical Degree']['MonthlyIncome'],
                             df_emp[df_emp['EducationField'] == 'Marketing']['MonthlyIncome'],
                             df_emp[df_emp['EducationField'] == 'Medical']['MonthlyIncome'],
                             df_emp[df_emp['EducationField'] == 'Other']['MonthlyIncome'])
print(p_value)

0.23476859109336565

In [ ]:
#From the above result, we can see that the p-value is greater than 0.01, thus we can say that the population variances are equal for all the groups.
#Thus we can use the one-way ANOVA test to check the equality of average monthly income for all the education fields.

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [64]:
# type solution here
#critical value
f_critical= np.abs(round(stats.f.isf(q = 0.01, dfn = 4, dfd = 49), 4))
print(f_critical)

#if the test statistic value is greater than 2.5611 then we reject the null hypothesis.

3.7283

In [65]:
#one way anova
test_stat, p_val = stats.f_oneway(df_emp[df_emp['EducationField'] == 'Life Sciences']['MonthlyIncome'],
                                  df_emp[df_emp['EducationField'] == 'Technical Degree']['MonthlyIncome'],
                                  df_emp[df_emp['EducationField'] == 'Marketing']['MonthlyIncome'],
                                  df_emp[df_emp['EducationField'] == 'Medical']['MonthlyIncome'],
                                  df_emp[df_emp['EducationField'] == 'Other']['MonthlyIncome'])
print(test_stat)

0.9546031924978221

In [ ]:
#The above output shows that the test statistic is less than 3.7283. Thus we fail to reject (i.e. accept) the null hypothesis and conclude that the average monthly income for all the education fields is the same.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. The company wants to decide their advertisement strategies for their new smartwatch. The manager collects the advertising cost (in dollars) for four different mediums. Test if the company is spending on average an equal amount on all the advertising mediums using a critical value approach with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file `ad_cost.xlsx`

In [66]:
# type solution here
df_cost = pd.read_excel('ad_cost.xlsx')
df_cost.head()

     medium   cost
0  Snapmart  252.0
1   Picbook  378.0
2    Funsta  312.0
3   Klicker  297.0
4   Picbook  361.0

In [ ]:
#H0: The average count for all the advertising mediums is same
#H1: At least one advertising medium has a different average cost

In [ ]:
#normslity
stat, p_value = stats.shapiro(df_cost['cost'])
print(p_value)

In [67]:
#variability
stat, p_value = stats.levene(df_cost[df_cost['medium'] == 'Snapmart']['cost'], 
                             df_cost[df_cost['medium'] == 'Picbook']['cost'],
                             df_cost[df_cost['medium'] == 'Funsta']['cost'],
                             df_cost[df_cost['medium'] == 'Klicker']['cost'])
print(p_value)

0.7230913376085835

In [ ]:
#From the above result, we can see that the p-value is greater than 0.05, 
#thus we can say that the population variances are equal for all the samples.

In [68]:
f_test, p_val = stats.f_oneway(df_cost[df_cost['medium'] == 'Snapmart']['cost'], 
                               df_cost[df_cost['medium'] == 'Picbook']['cost'],
                               df_cost[df_cost['medium'] == 'Funsta']['cost'],
                               df_cost[df_cost['medium'] == 'Klicker']['cost'])
print(p_val)

0.001230153853232096

In [ ]:
#The above output shows that the test statistic is greater than 7.591. 
#Thus we reject the null hypothesis and conclude that the average cost for at least one advertising medium is different.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. If the null hypothesis is rejected in the above test find which medium's advertisting cost is significantly different.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [69]:
# type solution here
comp = mc.MultiComparison(data = df_cost['cost'], groups = df_cost['medium'])
post_hoc = comp.tukeyhsd(alpha = 0.01)
post_hoc.summary()