<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Inclass Exercise <br>(Day  - 4)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Import Libraries](#lib)**
2. **[Large Sample Test](#z)**
    - 2.1 - **[Two Sample Z Test](#2z)**
3. **[Small Sample Test](#t)**
    - 3.1 - **[Two Sample t Test (Unpaired)](#2t)**
    - 3.2 - **[Paired t Test](#paired)**
4. **[Chi-Square Test](#chisq)**
5. **[One-way ANOVA](#1way)**

<a id = "lib"> </a>
## 1. Import Libraries

In [1]:
!pip install scikit_posthocs

Collecting scikit_posthocs
  Downloading scikit_posthocs-0.7.0-py3-none-any.whl (38 kB)
Requirement already satisfied: scipy in c:\users\sudha\anaconda3\lib\site-packages (from scikit_posthocs) (1.7.3)
Requirement already satisfied: matplotlib in c:\users\sudha\anaconda3\lib\site-packages (from scikit_posthocs) (3.5.1)
Requirement already satisfied: seaborn in c:\users\sudha\anaconda3\lib\site-packages (from scikit_posthocs) (0.11.2)
Requirement already satisfied: pandas>=0.20.0 in c:\users\sudha\anaconda3\lib\site-packages (from scikit_posthocs) (1.4.2)
Requirement already satisfied: numpy in c:\users\sudha\anaconda3\lib\site-packages (from scikit_posthocs) (1.21.5)
Requirement already satisfied: statsmodels in c:\users\sudha\anaconda3\lib\site-packages (from scikit_posthocs) (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sudha\anaconda3\lib\site-packages (from pandas>=0.20.0->scikit_posthocs) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sudha\anaconda3\lib\site-packages (from pandas>=0.20.0->scikit_posthocs) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\sudha\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.20.0->scikit_posthocs) (1.16.0)
Requirement already satisfied: packaging>=20.0 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib->scikit_posthocs) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib->scikit_posthocs) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib->scikit_posthocs) (3.0.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib->scikit_posthocs) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib->scikit_posthocs) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib->scikit_posthocs) (1.3.2)
Requirement already satisfied: patsy>=0.5.2 in c:\users\sudha\anaconda3\lib\site-packages (from statsmodels->scikit_posthocs) (0.5.2)
Installing collected packages: scikit-posthocs
Successfully installed scikit-posthocs-0.7.0

In [2]:
# import required libraries
# import 'pandas' 
import pandas as pd 

# import 'numpy' 
import numpy as np

# import subpackage of matplotlib
import matplotlib.pyplot as plt

# import 'seaborn'
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# import statsmodels
import statsmodels.api as sm

# import 'stats' package from scipy library
from scipy import stats

# import statistics to perform statistical computations
import statistics

# to test the normality 
from scipy.stats import shapiro

# import a library to perform Z-test
from statsmodels.stats import weightstats as stests

# import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# import the functions to perform Chi-square tests
from scipy.stats import chi2_contingency
from scipy.stats import chi2
from scipy.stats import chisquare

# function to perform post-hoc test
import statsmodels.stats.multicomp as mc

# import function to perform post-hoc
# install scikit_posthocs using "!pip install scikit_posthocs" 
import scikit_posthocs

<a id = "z"> </a>
## 2. Large Sample Test

<a id = "2z"> </a>
## 2.1 Large Two Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The technician wants to test whether the price of a phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Check whether the data satisfies the conditions to use the two sample Z-test. (Use 5% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [5]:
# type solution here
df=pd.read_csv("electronic.csv")
df.head()

phab_price=df[df["Type"]=="Phablet"]["Price ($)"]
tab_price=df[df["Type"]=="Tablet"]["Price ($)"]
#print(phab_price,tab_price)

# check normality
stat_p,p_val_p=stats.shapiro(phab_price)
stat_t,p_val_t=stats.shapiro(tab_price)

print(stat_p,p_val_p)
print(stat_t,p_val_t)

0.9686920642852783 0.20465952157974243
0.9741330742835999 0.33798879384994507

In [6]:
# levene test --> to test variability
stat,p_val=stats.levene(phab_price,tab_price)
print(p_val)
# pval is greater than 0.05 hence we can do the two sample z test

0.4172859681296204

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The technician claims that the price of phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Test the technician's claim using the 95% confidence interval.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [7]:
# type solution here
z_cal,p_val=stests.ztest(phab_price,tab_price)
print(p_val)

# as p_val is greater than critical so we reject Ho


# to find out 95% confidence interval
n1=len(phab_price)
n2=len(tab_price)
std1=np.std((phab_price))
std2=np.std((tab_price))
mean1=np.mean((phab_price))
mean2=np.mean((tab_price))
stats.norm.interval(0.95,loc=mean1-mean2,scale=np.sqrt(((std1**2)/n1)+(std2**2)/n2))

# 0 is not in between the interval so mean1-mean2 is not part of inetrval hence reject the null

1.6512473234517284e-20

(35.87894938341398, 54.84105061658599)

<a id="t"></a>
## 3. Small Sample Test

<a id="2t"></a>
## 3.1. Two sample T test Unpaired

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Is the given dataset unpaired? If yes, check whether the manager at newspaper agency can use the two sample t-test for unpaired data with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [8]:
# type solution here
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

# as data is unpaired so to perform 2 sample t test we perform tests for normality and variability
stat_p,p_val_p=stats.shapiro(harry)
stat_t,p_val_t=stats.shapiro(ron)

print(stat_p,p_val_p)
print(stat_t,p_val_t)

# as p_val>alpha  hence its a normal distribution

0.9328558444976807 0.575441837310791
0.972867488861084 0.9183047413825989

In [9]:
stat,p_val=stats.levene(harry,ron)
print(stat,p_val)
# p val is > alpha(0.01) so levene test is passed and has equal variance

0.12793271359008374 0.7267972480247995

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Use the given data and test the hypothesis for population mean time using a critical value method and p-value criteria with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [10]:
# type solution here
# h0: harry=ron
# h1: harry<ron

harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]
t_stat,p_val=stats.ttest_ind(a=harry,b=ron)
print(t_stat,p_val)

#alpha=0.10
# critical value u calc
cri=stats.norm.isf(q=0.10/2)
cri
# p_val<alpha(0.1) so we reject the null     # p_val>alpha fail to reject
# hence ron>harry

-2.8788582527177526 0.01385995160611642

1.6448536269514729

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Research suggests that the fat content (in g) in the rice-bran oil of Nutura products is less than that of Markgen products. To test this claim we have recorded the fat content in 6 packs of 100 g oil from both the companies. Consider a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        Nutura_fat = [99.5, 98, 98.6, 98.2, 96.8, 98.4]
        Markgen_fat = [ 98.7, 91.8, 92.6, 97.5, 93, 96.1]

In [11]:
# type solution here
Nutura_fat = [99.5, 92, 98.6, 98.2, 96.8, 98.4]
Markgen_fat = [ 98.7, 91.8, 92.6, 97.5, 93, 96.1]

fat = [99.5, 92, 98.6, 98.2, 96.8, 98.4, 98.7, 91.8, 92.6, 97.5, 93, 96.1]

In [12]:
#normality
stat, p_value = shapiro(fat)

print(p_value)

#From the above result,
#we can see that the p-value is greater than 0.01, thus we can say that the data is normally distributed.

0.034961212426424026

In [13]:
test_stat, p_value = stats.ttest_ind(Nutura_fat, Markgen_fat, alternative = 'less')

print(p_value)

0.9078780495998977

In [6]:
#Here the p-value is greater than 0.01. Thus we fail to reject (i.e. accept) the null hypothesis and we can not conclude that the fat content (in g) in the rice-bran oil of Nutura products is less than that of Markgen products.

<a id='paired'></a>
## 3.2.Two sample paired T-test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>6. The pharmaceutical company had organized a program to introduce its new drug to lower the sugar level. They recorded the fasting sugar (in mg/dl) of 25 diabetic people. Those people undergo a medication of the new drug for 10 days and again took a fasting sugar level test. The company claim that the sugar level decreases due to its new drug. Test the claim using p-value technique with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the file `sugar_level.xlsx`

In [14]:
# type solution here
df1=pd.read_excel("sugar_level.xlsx")
df1.head()

   sugar_before  sugar_after
0           135          132
1           132          136
2           142          139
3           154          151
4           198          192

In [15]:
t_stat,p_val=stats.ttest_rel(df1["sugar_after"],df1["sugar_before"]) 
print(t_stat,p_val)# paired as these are of same category

-5.268469999584946 2.108941394582287e-05

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The gym trainer claims that the new aerobic exercise has reduced the weight of the customers. The weight in the last month before the aerobic exercise and weight in this month after the aerobic exercise is recorded for 6 people. Test the trainer's claim with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        wt_before = [85, 74, 63.5, 69.4, 71.6, 65]
        wt_after = [82, 71, 64, 65.2, 67.8, 64.7]

In [16]:
# type solution here
#H0: miu=0
#H1: miu<0
wt_before = [85, 74, 63.5, 69.4, 71.6, 65]
wt_after = [82, 71, 64, 65.2, 67.8, 64.7]
t_stat,p_val=stats.ttest_rel(wt_after,wt_before) 
print(t_stat,p_val)# paired as these are of same category

# alpha is 0.01 and p_val>alpha so we fail to reject so the weight has reduced

-2.914741385569865 0.033216084245917835

<a id = "chisq"> </a>
## 4. Chi-Square Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 1 to 6.

please use below dataset

In [17]:
#read the sample data 
df_emp = pd.read_csv('Employee_Attrition.csv')

#display the first two observations
df_emp.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. A company in Los Angeles has three functional departments - Research and Development, Sales, and Human Resources. The company claims that the percentage of employees in these 3 departments is 55%, 35% and 10% respectively. Check the company's claim using p-value criteria. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
# type solution here
# goodness of fit
#h0: no significance diff obs-exp=0
# h1:sig diff obs-exp!=0
df_emp["Department"].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [19]:
obs_val=[961,446,63]

prob=[0.55,0.35,0.10]

exp_val=np.array(prob)*len(df_emp)
print(obs_val,exp_val)

# chi sq test
stat,p_val=chisquare(f_obs=obs_val,f_exp=exp_val)
print(p_val)

# alpha is 0.05
# reject as pval<alpha

[961, 446, 63] [808.5 514.5 147. ]
2.2406437256053955e-19

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. The employees in an IT firm undergo an online assessment survey. The survey reveals that 20% of employees are least satisfied, 18% are fairly satisfied, 30% are moderately satisfied and 32% are highly satisfied with their job. Use a critical value method to test the survey result with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
# type solution here
df_emp["JobSatisfaction"].value_counts()

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

In [21]:
#H0:
obs_val=[459,442,280,289]

prob=[0.32,0.30,0.18,0.20]

exp_val=np.array(prob)*len(df_emp)

print(obs_val,exp_val)

# chi sq test
stat,p_val=chisquare(f_obs=obs_val,f_exp=exp_val)
print(stat,p_val)

# critical val
stats.chi2.isf(q=0.10,df=3)

# pval>alpha so we failed to reject

[459, 442, 280, 289] [470.4 441.  264.6 294. ]
1.2598733938019708 0.7386828586247451

6.2513886311703235

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Check whether travelling for work depends upon the job role of an employee. Use p-value criteria to test the dependence with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [22]:
# type solution here
# H0: WORK DOES NOT DEPEND UPOUN JOB ROLE
# H1 : WORK DEPENDS ON JOB ROLE

# CHECK FOR INDEPENDENT AND DEPENDENT 
table=pd.crosstab(df_emp["BusinessTravel"],df_emp["JobRole"])
table

obs_val=table.values
obs_val

array([[ 15,   4,  28,  12,  13,   6,  28,  39,   5],
       [ 26,  10,  51,  13,  29,  12,  54,  59,  23],
       [ 90,  38, 180,  77, 103,  62, 210, 228,  55]], dtype=int64)

In [23]:
test_stat,p,dof,exp_val=chi2_contingency(observed=obs_val,correction=True)
print(test_stat,p)

# p val>alpha (0.01) we fail to reject

11.987695596739206 0.7448263418408124

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Is there any relationship between the attrition of an employee and his/her marital status? Use the critical value technique to test the relationship with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
# type solution here
# H0: WORK DOES NOT DEPEND UPOUN JOB ROLE
# H1 : WORK DEPENDS ON JOB ROLE

# CHECK FOR INDEPENDENT AND DEPENDENT 
table=pd.crosstab(df_emp["Attrition"],df_emp["MaritalStatus"])
table

obs_val=table.values
obs_val

array([[294, 589, 350],
       [ 33,  84, 120]], dtype=int64)

In [88]:
test_stat,p,dof,exp_val=chi2_contingency(observed=obs_val,correction=True)
print(test_stat,p)

46.163676540848705 9.45551106034083e-11

In [ ]:
# pval<alpha so we reject

In [25]:
# using critical val also we can do 2nd mehod
chi_val=np.abs(round(stats.chi2.isf(q=0.05,df=2),3))
chi_val

5.991

<a id = "1way"> </a>
## 5. One-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 7 to 11.

Please use below dataset

In [28]:
#read the sample data 
df_emp = pd.read_csv('sales_emp.csv')

#display the first two observations
df_emp.head(2)

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,...,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,...,3,80,1,19,6,4,1,0,0,0

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [27]:
# type solution here

# H0:not equal
#H1:  equal
#  reponse  categorival

test=ols('MonthlyIncome ~ Q("EducationField")',df_emp).fit()
anova=anova_lm(test,typ=1)
anova

#pval>alpha so we fail to reject


# for ANOVA WE CAN DO SHAPIRO AND LEVENE TEST

                       df        sum_sq       mean_sq         F    PR(>F)
Q("EducationField")   4.0  4.087768e+07  1.021942e+07  0.954603  0.440787
Residual             49.0  5.245652e+08  1.070541e+07       NaN       NaN

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Can we use the given data of sales executives to check the equality of the average daily rate for different types of business travellers? Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [29]:
# type solution here
#normality
stat, p_value = stats.shapiro(df_emp['DailyRate'])
p_value = round(p_value,3)
print(p_value)

#From the above result, we can see that the p-value is greater than 0.01, thus we can say that the daily rate is normally distributed.
#Thus the assumption of normality is satisfied.

0.04

In [30]:
#variability
stat, p_value = stats.levene(df_emp[df_emp['BusinessTravel'] == 'Travel_Rarely']['DailyRate'],
                             df_emp[df_emp['BusinessTravel'] == 'Travel_Frequently']['DailyRate'],
                             df_emp[df_emp['BusinessTravel'] == 'Non-Travel']['DailyRate'])
p_value = round(p_value,3)
print(p_value)
#From the above result, we can see that the p-value is greater than 0.01, thus we can say that the population variances are equal for all the groups.
#Thus we can use the one-way ANOVA test to check the equality of the average daily rate for all the types of business travelling.

0.231

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Use the parametric test to check the equality of the average daily rate for all the types of business travelling. Use a p-value technique to test the data with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [31]:
# type solution here
#H0: The average daily rate for all the business travels is the same
#H1: The average daily rate for at least one type of business travel is different
test_stat, p_val = stats.f_oneway(df_emp[df_emp['BusinessTravel'] == 'Travel_Rarely']['DailyRate'],
                                  df_emp[df_emp['BusinessTravel'] == 'Travel_Frequently']['DailyRate'],
                                  df_emp[df_emp['BusinessTravel'] == 'Non-Travel']['DailyRate'])
print(p_val)

#The above output shows that the p-value is less than 0.01. Thus we reject the null hypothesis 
#and conclude that the average daily rate for at least one type of business travel is different.

4.527131533131016e-06

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the types of business travel for which the average daily rate is different. Use a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [32]:
# type solution here
comp = mc.MultiComparison(data = df_emp['DailyRate'], groups = df_emp['BusinessTravel'])
post_hoc = comp.tukeyhsd(alpha = 0.01)
post_hoc.summary()